{deps, [
  {espec, ".*", {git, "https://github.com/lucaspiller/espec.git", {branch, "master"}}},
  {cucumberl, "0.0.5", {git, "git@github.com:madtrick/cucumberl.git", {branch, master}}},
  {hamcrest, ".*", {git, "https://github.com/hyperthunk/hamcrest-erlang.git", {branch, master}}},
  {meck, ".*", {git, "https://github.com/eproxus/meck.git", {branch, master}}},
  {rebar_feature_runner, ".*", {git, "https://github.com/madtrick/rebar_feature_runner", {branch, master}}},
  {wsock, ".*", {git, "https://github.com/madtrick/wsock", {branch, develop}}}
]}.

{plugins, [rebar_feature_runner]}.
