{deps, [
  {espec, ".*", {git, "https://github.com/lucaspiller/espec.git", {branch, "master"}}},
  {cucumberl, "0.0.5", {git, "git@github.com:madtrick/cucumberl.git", {branch, master}}},
  {hamcrest, ".*", {git, "https://github.com/hyperthunk/hamcrest-erlang.git", {branch, master}}},
  rebar_feature_runner
]}.

{plugins, [rebar_feature_runner]}.
